.github-wdc-card .mdl-card__title {
  background: url('/github/assets/gh-logo.png') center left 10px no-repeat #000000;
  background-color: #000000 !important;
  color: #ffffff !important;
  height: 70px;
}

.github-wdc-card .mdl-card__title-text {
  margin-left: 70px;
}
